@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --white: #fff;
  --black: #111;
  --blue: #3a80e9;
  --grey: #888;
  --darkgrey: #1b1b1b;
  --green: #61c96f;
  --red: #f94141;
}

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black);
  color:var(--white);
  font-family: "Inter", sans-serif;
}

::selection{
  background-color: var(--blue);
  color: var(--white);
}

::-webkit-scrollbar {
  width: 0.3rem;
}

::-webkit-scrollbar-track {
  background-color: var(--black);
}

::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 10px;
}

a {
  color:var(--white) !important;
  text-decoration: none;
}
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.grey-wrapper{
  display: block;
  width: 90%;
  background-color: var(--darkgrey);
  margin: auto;
  border-radius: 0.5rem;
  padding: 0rem 0.5rem;
}

.coin-days-flex{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  margin: 0rem 1.5rem;
  padding: 0.5rem;
}