.coin-info-heading{
    margin:1rem;
    padding-top: 1rem;
}
.coin-info-desc{
    margin:1rem;
    padding-bottom: 1rem;
    cursor: pointer;
}
.coin-info-desc a{
    text-decoration: underline !important;
}
.coin-info-desc a:hover{
    color: var(--blue) !important;;
}